header{
    animation-name: backgroundChange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes backgroundChange {
    0% {
        background-image: url("../../images/destinations/asia/asia-1.jpg");
    }
    25% {
        background-image: url("../../images/destinations/asia/asia-2.jpg");
    }
    50% {
        background-image: url("../../images/destinations/asia/asia-3.jpg");
    }
    75% {
        background-image: url("../../images/destinations/asia/asia-4.jpg");
    }
    100% {
        background-image: url("../../images/destinations/asia/asia-1.jpg");
    }
}
